body, button, input, select{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    background: rgb(19 78 74);

    span{
        display: none;
        position: absolute;
        top: 1%;
        left: 50%;
        transform: translateX(-50%);
        background: rgb(255, 32, 51);
        color: white;
        padding: 1em;
        border-radius: .4em;
    }

    .createQR, .sectionImg{
        display: flex;
        justify-content: center;
        margin: 5em 0;
    }
    .createQR{
        form{
            border-radius: 1em;
            padding: 2em 3em;
            background: rgb(15 118 110);

            *:not(:last-child){
                margin-right: 1em;
            }

            input, button{
                border-radius: 5em;
                padding: 1em 2em;
                border: none;
            }
            select{
                background-color: #eee;
                padding: .5em 1em;
                color: #333;
            }
            button{
                $colorBtn: rgb(20 184 166);
                border: none;
                background: $colorBtn;
                color: white;
                cursor: pointer;
                transition: color;
                
                &:hover{
                    background: lighten($colorBtn, 5);
                }
            }
        }
    }
}

@media screen and (max-width: 41.25em) {
    .createQR form{
        display: flex;
        flex-direction: column;
        width: 60%;

        *:not(:last-child){
            margin-bottom: 1em;
        }

        input, select{
            margin-right: 0 !important;
        }
    }
}
@media screen and (max-width: 18.75em) {
    .createQR form{
        width: 50%;
    }
}